.back-link
  = link_to "< Back to home page", root_url

%section#user-list
  %h3 Users

  - if @users.present?
    %table.table.table-striped
      %thead
        %tr
          %th{scope: 'col'}
            Name
          %th{scope: 'col'}
            Phone number
          %th{scope: 'col'}
      %tbody
        - @users.each do |user|
          %tr
            %td= user.name
            %td= user.phone_number
            %td= link_to "Delete user", user, method: :delete, data: {confirm: "Are you sure?"}

  - else
    There is no registered user at the moment.

%section#new-user
  %h4 Create a new user

  .container
    .row
      .col-12.col-md-6
        = simple_form_for(User.new) do |f|
          = f.input :name, label: 'Name', error: 'The name is mandatory, please specify one'
          = f.input :phone_number, placeholder: 'eg. +12223334444'
          = f.button :submit, id: 'submit-new-user', class: 'btn btn-primary'
