%h4 Log in to Courier Bot

.container
  .row
    .col-12.col-md-6

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'

        .form-group
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "off", class: 'form-control'

        .actions
          = f.submit "Log in"
